<!DOCTYPE html>
<html>
  <head>
    <title>Stocksfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,700&display=swap', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.iexAPIKey = "<%= Rails.application.credentials.iex[:api_key] %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
